<div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-menu" style="font-size:1em; color:#3498db;"></span>
          </button>
          <a class="navbar-brand hidden-xs hidden-sm" href="/"><span class="icon icon-menu" style="font-size:18px; color:#3498db;"></span></a>
        </div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav hidden-md hidden-lg'>
                <li><a href='/'>Home</a></li>
            </ul>
            <ul class='nav navbar-nav navbar-right'>
                {{#if authenticated}}
                {{#if (isEqual scope "student")}}
                <li id='link-list-internships'><a href='/internship'>Internships</a></li>
                <li id='link-list-companies'><a href='/company'>Companies</a></li>
                {{else if (isEqual scope "company")}}
                <li id='link-dashboard'><a href='/dashboard'>Dashboard</a></li>
                {{/if}}
                <li id='link-profile'><a href="/profile">Profile</a></li>
                <li id='link-logout'><a href="/logout">Logout</a></li>
                <!--<li id='linkListStudents'><a href='/student/list'>Students</a></li>-->
                {{else}}
                <li id='link-register'><a href="/register">Register</a></li>
                <li id='link-login'><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>