{{!< layout/default}}
<div class="row">
    <div class="col-xs-12">
        <p>
            The IEEE Young Professionals Portugal Internships Program is a project by the IEEE Young Professionals
            Portugal Affinity Group (YP PT) that enables students, members of IEEE, to take part in short or long 
            term Internships in engineering roles. These internships can have a duration between 1 to 9 months and
            can have a salary for that position.
        </p>
        <p>
            This page gathers the information about an internship offer and the appropriate information and services
            for an internship application.
        </p>
    </div>
</div>
