{{!< layout/default}}
<div class="row">
    <div id="registerText" class="col-xs-12">
        <p>This site is directed to students members of IEEE.</p>
        <p>What to do if you are a company?</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form class='form-horizontal' id='formRegister' method="post" action="/register">
            <div class='form-group'>
                <label for='input-email-1' class='col-sm-3 control-label'>IEEE Email address</label>
                <div class='col-sm-9'>
                    <input type='email' class='form-control' id='input-email-1' placeholder='Email' name="email" required>
                </div>
            </div>
            <div class='form-group'>
                <label for='input-password-1' class='col-sm-3 control-label'>Password</label>
                <div class='col-sm-9'>
                    <input type='password' class='form-control' id='input-password-1' placeholder='Password' name="password" required>
                </div>
            </div>
            <div class='form-group'>
                <label for='input-password-2' class='col-sm-3 control-label'>Retype Password</label>
                <div class='col-sm-9'>
                    <input type='password' class='form-control' id='input-password-2' placeholder='Password' required>
                </div>
            </div>
            <div class='form-group'>
                <label for='input-first-name' class='col-sm-3 control-label'>First Name</label>
                <div class='col-sm-9'>
                    <input type='text' class='form-control' id='input-first-name' placeholder='First Name' name="first_name" required>
                </div>
            </div>
            <div class='form-group'>
                <label for='input-last-name' class='col-sm-3 control-label'>Last Name</label>
                <div class='col-sm-9'>
                    <input type='text' class='form-control' id='input-last-name' placeholder='Last Name' name="last_name" required>
                </div>
            </div>
            <div class='form-group'>
                <label for='input-ieee-number' class='col-sm-3 control-label'>IEEE Number</label>
                <div class='col-sm-9'>
                    <input type='text' class='form-control' id='input-ieee-number' placeholder='IEEE Member Number' name="ieee_code" required>
                </div>
            </div>
            <div class='form-group'>
                <label for='input-student-branch' class='col-sm-3 control-label'>Student Branch</label>
                <div class='col-sm-9'>
                    <select class='form-control' id='input-student-branch' placeholder='Student Branch' name="student_branch_id">
                        {{#each sbs}}
                        <option value='{{id}}'>{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class='form-group'>
                <label for='input-birthday' class='col-sm-3 control-label'>Birthday</label>
                <div class='col-sm-9'>
                    <input type="date" class='form-control' id='input-birthday' placeholder='Birthday' name="birthdate" required>
                </div>
            </div>
            <div class='form-group'>
                <label for='input-city' class='col-sm-3 control-label'>City</label>
                <div class='col-sm-9'>
                    <select class='form-control' id='input-city' placeholder='City' name="city_id">
                        {{#each cities}}
                        <option value='{{id}}'>{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class='form-group'>
                <label for='input-engineering-degree' class='col-sm-3 control-label'>Engineering Degree</label>
                <div class='col-sm-9'>
                    <input type="text" class='form-control' id='input-engineering-degree' placeholder='Engineering Degree' name="area">
                </div>
            </div>
            <div class='form-group'>
                <label for='input-graduation-year' class='col-sm-3 control-label'>Expected Year of Graduation</label>
                <div class='col-sm-9'>
                    <input type="number" class='form-control' id='input-graduation-year' placeholder='Expected Year of Graduation' name="graduation_year" required>
                </div>
            </div>
            <div class='form-group'>
                <label for='input-linkedin' class='col-sm-3 control-label'>LinkedIn Profile</label>
                <div class='col-sm-9'>
                    <input type="url" class='form-control' id='input-linkedin' placeholder='LinkedIn Profile' name="linkedin">
                </div>
            </div>
            <div class='form-group'>
                <label for='input-collabratec' class='col-sm-3 control-label'>Collabratec Profile</label>
                <div class='col-sm-9'>
                    <input type="url" class='form-control' id='input-collabratec' placeholder='Collabratec Profile' name="collabratec">
                </div>
            </div>
            <div class='form-group'>
                <label for='input-bio' class='col-sm-3 control-label'>Short Bio</label>
                <div class='col-sm-9'>
                    <input type="textarea" class='form-control' id='input-bio' placeholder='Short Bio' name="bio">
                </div>
            </div>
            <div class='form-group'>
                <div class='col-sm-offset-3 col-sm-9'>
                    <button type='submit' class='btn btn-default'>OK</button>
                </div>
            </div>
        </form>
    </div>
</div>