<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Internships - IEEE Young Professionals Portugal</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/main.css" rel="stylesheet">
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/animate-custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/public/js/jquery.min.js"></script>

    <!-- Bootstrap Files -->
    <script src="/public/js/bootstrap.min.js"></script>

    <!-- Javascript Files -->
    <script src="/public/utils/config.js"></script>
    <script src="/public/utils/layout.js"></script>
    <script src="/public/utils/user.js"></script>
    <script src="/public/utils/register.js"></script>

    <!-- Favicon File -->
    <link rel="shortcut icon" href="/public/favicon.ico" />
    
    <script>
        $(document).ready(function() {
            if(sessionStorage.getItem('user') == 0){  
                initLayout();
                initRegister();
            } else {
                console.log("User already logged");
                window.location.href = '/';
            }
            });
    </script>

</head>
<body>

<div id="navbar-main"></div>

<div id="alertMessage"></div>

<div class="container-fluid">

    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 main">

        <div id="userInformation" class="text-right"></div>

        <div id="title"></div>

        <div id="container">

            <div id="registerText"></div>

            <form class='form-horizontal' id='preFormRegister'>
                <div class='form-group'>
                    <label for='inputEmail1' class='col-sm-2 control-label'>IEEE Email address</label>
                    <div class='col-sm-10'>
                        <input type='email' class='form-control' id='inputEmail1' placeholder='Email' required>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputPassword1' class='col-sm-2 control-label'>Password</label>
                    <div class='col-sm-10'>
                        <input type='password' class='form-control' id='inputPassword1' placeholder='Password' required>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputPassword2' class='col-sm-2 control-label'>Retype Password</label>
                    <div class='col-sm-10'>
                        <input type='password' class='form-control' id='inputPassword2' placeholder='Password' required>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='col-sm-offset-2 col-sm-10'>
                        <button class='btn btn-default' type='submit' onclick='validateRegisterEmailPassword();return false;'>OK</button>
                    </div>
                </div>
            </form>

            <form class='form-horizontal' id='formRegister' hidden>
                <div class='form-group'>
                    <label for='inputEmail2' class='col-sm-2 control-label'>IEEE Email address</label>
                    <div class='col-sm-10'>
                        <input type='email' class='form-control' id='inputEmail2' placeholder='Email' name='email' required readonly>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputPassword3' class='col-sm-2 control-label'>Password</label>
                    <div class='col-sm-10'>
                        <input type='password' class='form-control' id='inputPassword3' placeholder='Password' name='password' required readonly>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputFirstName' class='col-sm-2 control-label'>First Name</label>
                    <div class='col-sm-10'>
                        <input type='text' class='form-control' id='inputFirstName' placeholder='First Name' name='firstName' required>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputLastName' class='col-sm-2 control-label'>Last Name</label>
                    <div class='col-sm-10'>
                        <input type='text' class='form-control' id='inputLastName' placeholder='Last Name' name='lastName' required>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputIEEENumber' class='col-sm-2 control-label'>IEEE Member Number</label>
                    <div class='col-sm-10'>
                        <input type='number' class='form-control' id='inputIEEENumber' placeholder='IEEE Member Number' name='ieeeNumber' required>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputStudentBranch' class='col-sm-2 control-label'>Student Branch</label>
                    <div class='col-sm-10'>
                        <select class='form-control' id='inputStudentBranch' placeholder='Student Branch' name='studentBranchId'></select>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputBirthday' class='col-sm-2 control-label'>Birthday</label>
                    <div class='col-sm-10'>
                        <input type='date' class='form-control' id='inputBirthday' placeholder='Birthday' name='birthdate' required>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputCity' class='col-sm-2 control-label'>City</label>
                    <div class='col-sm-10'>
                        <select class='form-control' id='inputCity' placeholder='City' name='cityId'></select>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputEngineeringDegree' class='col-sm-2 control-label'>Engineering Degree</label>
                    <div class='col-sm-10'>
                        <input type='text' class='form-control' id='inputEngineeringDegree' placeholder='Engineering Degree' name='area'>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputGraduationYear' class='col-sm-2 control-label'>Expected year of graduation</label>
                    <div class='col-sm-10'>
                        <input type='number' class='form-control' id='inputGraduationYear' placeholder='Expected year of graduation' name='graduationYear' required>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputLinkedIn' class='col-sm-2 control-label'>LinkedIn profile</label>
                    <div class='col-sm-10'>
                        <input type='url' class='form-control' id='inputLinkedIn' placeholder='LinkedIn profile' name='lindkedIn'>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputCollabratec' class='col-sm-2 control-label'>Collabratec profile</label>
                    <div class='col-sm-10'>
                        <input type='url' class='form-control' id='inputCollabratec' placeholder='Collabratec profile' name='collabratec'>
                    </div>
                </div>
                <div class='form-group'>
                    <label for='inputBio' class='col-sm-2 control-label'>Short Bio</label>
                    <div class='col-sm-10'>
                        <textarea class='form-control' id='inputBio' placeholder='Short Bio' form='formRegister' name='bio'></textarea>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='col-sm-offset-2 col-sm-10'>
                        <button type='button' class='btn btn-default' onclick='cancelRegister();return false;'>Cancel</button>
                        <button type='submit' class='btn btn-default' type='submit'>OK</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>

</body>
</html>