<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Internships - IEEE Young Professionals Portugal</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/main.css" rel="stylesheet">
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/animate-custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/public/js/jquery.min.js"></script>

    <!-- Bootstrap Files -->
    <script src="/public/js/bootstrap.min.js"></script>

    <!-- Javascript Files -->
    <script src="/public/utils/config.js"></script>
    <script src="/public/utils/layout.js"></script>
    <script src="/public/utils/auth.js"></script>

    <!-- Favicon File -->
    <link rel="shortcut icon" href="/public/favicon.ico" />

    <script>
        $(document).ready(function() {
            initLayout();
            loadAboutInformation();
        });
    </script>

</head>
<body>

<div id="navbar-main"></div>

<div class="container-fluid">

    <div id="alertMessage"></div>

    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 main">

        <div id="userInformation" class="text-right"></div>

        <div id="title">List Internships</div>
        <div id="container"></div>

    </div>

</div>

</body>
</html>