{{!< layout/default}}
{{#if internship}}
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{internship.title}}</h3>
            </div>
            <div class="panel-body">
                <p>
                    Company: {{internship.company_name}}<br>
                    Publication Date: {{simpleDate internship.publication_date}}<br>
                    Expiration Date: {{simpleDate internship.expiration_date}}<br>
                    City: {{internship.city_name}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Description</h3>
            </div>
            <div class="panel-body">
                <p>{{{internship.description}}}</p>
                {{#if internship.pdf}}
                <p><a href="/public/upload/company/pdf/{{internship.pdf}}">PDF description</a></p>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="row">
    <div class="col-xs-12">
        <p>Error fetching data!</p>
    </div>
</div>
{{/if}}