{{!< layout/default}}
{{#if internship}}
<div class="row">
    <div class="col-md-4 col-xs-12">
        <img class="img-responsive" src="http://placehold.it/350x350">
    </div>
    <div class="col-md-8 col-xs-12">
        <h2>{{internship.title}}</h2>
        <div class="well">
            Company: {{internship.company_name}}<br>
            Publication Date: {{internship.publication_date}}<br>
            Expiration Date: {{internship.expiration_date}}<br>
            City: {{internship.city_name}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h3>Description</h3>
        <div class="well">
            {{{internship.description}}}
        </div>
    </div>
</div>
{{else}}
<div class="row">
    <div class="col-xs-12">
        <p>Error fetching data!</p>
    </div>
</div>
{{/if}}