{{!< layout/default}}
{{#if internships}}
<div class="row">
    <div class="col-xs-12">
        {{#if internships.empty}}
        <p>This company hasn't internships available!</p>
        {{else}}
        <table class="table table-striped">
            <thead>
                <tr>    
                    <th>Title</th>
                    <th>Publication Date</th>
                    <th>Expiration Date</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                {{#each internships}}
                <tr>
                    <td><a href="/internship/{{id}}">{{title}}</a></td>
                    <td>{{simpleDate publication_date}}</td>
                    <td>{{simpleDate expiration_date}}</td>
                    <td>{{city_name}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
    </div>
</div>
{{else}}
<div class="row">
    <div class="col-xs-12">
        <p>Error fetching data!</p>
    </div>
</div>
{{/if}}