{{!< layout/default}}
{{#if student}}
<script> 
function enableInputs() {
    $('input').removeAttr('disabled');
    $('select').removeAttr('disabled');
    $('textarea').removeAttr('disabled');
    $('#edit-profile').hide();
    $('#send-changes').removeClass('hidden');
    $('#cancel-changes').removeClass('hidden');
}   
</script>
<form action="/profile" method="post">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="row centered center-block">
                {{#if (isNull student.picture)}}
                <img class="img-responsive" src="http://placehold.it/350x350">
                {{else}}
                <img class="img-responsive" src="/public/upload/student/profile/{{student.picture}}">
                {{/if}}
                <hr>
                <a href="/picture" class="btn btn-success btn-profile">Change Picture</a>
                <a href="/cv" class="btn btn-success btn-profile">Update CV</a>
                <button id="edit-profile" class="btn btn-success btn-profile" onclick="enableInputs();return false;">Edit profile</button>
                <button id="send-changes" class="btn btn-success btn-profile hidden" type="submit" hidden>Submit changes</button>
                <a href="/profile" id="cancel-changes" class="btn btn-danger btn-profile hidden" hidden>Cancel changes</button>
                <a href="/password" class="btn btn-danger btn-profile">Change password</a>
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{student.first_name}}  {{student.last_name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for='ieee_code' class='control-label'>IEEE Number</label>
                        <input id="ieee_code" name="ieee_code" class="form-control" type="number" value="{{student.ieee_code}}" disabled>
                        <label for="birthdate" class="control-label">Birthdate</label>
                        <input id="birthdate" name="birthdate" class="form-control" type="date" value="{{simpleDate student.birthdate}}" required disabled>
                        <label for='city' class='control-label'>City</label>
                        <select id="city" name="city_id" class="form-control" required disabled>
                        {{#each student.cities}}
                            {{#if (isEqual ../student.city_id id)}}
                            <option value={{id}} selected>{{name}}</option>
                            {{else}}
                            <option value={{id}}>{{name}}</option>
                            {{/if}}
                        {{/each}}
                        </select>
                        <label for="student_branch" class="control-label">Student Branch</label>
                        <select id="student_branch" name="student_branch_id" class="form-control" required disabled>
                        {{#each student.sbs}}
                            {{#if (isEqual ../student.student_branch_id id)}}
                            <option value={{id}} selected>{{name}}</option>
                            {{else}}
                            <option value={{id}}>{{name}}</option>
                            {{/if}}
                        {{/each}}
                        </select>
                        <label for='area' class='control-label'>Area</label>
                        <input id="area" name="area" class="form-control" value="{{student.area}}" required disabled>
                        <label for="graduation_year" class="control-label">Graduation Year</label>
                        <input id="graduation_year" name="graduation_year" class="form-control" type="number" value="{{student.graduation_year}}" required disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Biography</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <textarea id="bio" name="bio" class="form-control" disabled>{{student.bio}}</textarea>
                    </p>
                    {{#if student.cv}}
                    <p><a href="/public/upload/student/cv/{{student.cv}}">Curriculum Vitae</a></p>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Social</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <label for="linkedin" class="control-label">Linkedin</label>
                        <input id="linkedin" name="linkedin" class="form-control" type="url" value={{student.linkedin}} disabled>
                        <label for="collabratec" class="control-label">Linkedin</label>
                        <input id="collabratec" name="collabratec" class="form-control" type="url" value={{student.collabratec}} disabled>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
{{else}}
<div class="row">
    <div class="col-xs-12">
        <p>Error fetching data!</p>
    </div>
</div>
{{/if}}