{{!< layout/default}}
{{#if student}}
<form>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img class="img-responsive" src="http://placehold.it/350x350">
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{student.first_name}}  {{student.last_name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for='ieee_code' class='control-label'>IEEE Number</label>
                        <input id="ieee_code" class="form-control" value="{{student.ieee_code}}">
                        <label for="birthdate" class="control-label">Birthdate</label>
                        <input id="birthdate" class="form-control" value="{{simpleDate student.birthdate}}">
                        <label for='city' class='control-label'>City</label>
                        <input id="city" class="form-control" value="{{student.city_name}}">
                        <label for="student_branch" class="control-label">Student Branch</label>
                        <input id="student_branch" class="form-control" value="{{student.student_branch_name}}">
                        <label for='area' class='control-label'>Area</label>
                        <input id="area" class="form-control" value="{{student.area}}">
                        <label for="graduation_year" class="control-label">Graduation Year</label>
                        <input id="graduation_year" class="form-control" value="{{student.graduation_year}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Biography</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <textarea id="bio" class="form-control" value={{student.graduation_year}}>{{student.bio}}</textarea>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Social</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <label for="linkedin" class="control-label">Linkedin</label>
                        <input id="linkedin" class="form-control" value={{student.linkedin}}>
                        <label for="collabratec" class="control-label">Linkedin</label>
                        <input id="collabratec" class="form-control" value={{student.collabratec}}>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">New Password</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="old_password" class="control-label">Old Password</label>
                        <input id="old_password" class="form-control">
                        <label for="new_password" class="control-label">New Password</label>
                        <input id="new_password" class="form-control">
                        <label for="repeat_new_password" class="control-label">Repeat New Password</label>
                        <input id="repeat_new_password" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <input class="btn btn-success" type="submit" value="Edit">
        </div>
    </div>
</form>
{{else}}
<div class="row">
    <div class="col-xs-12">
        <p>Error fetching data!</p>
    </div>
</div>
{{/if}}